# Texto (normaliza crlf)
*.txt text=auto eol=crlf
*.xml text eol=crlf
*.lsx text eol=crlf
*.colors text eol=crlf
*.stats text eol=crlf
*.json text eol=crlf
*.csv text eol=crlf
*.md text eol=crlf

# Binarios (sin diff)
*.lsf binary
*.lsb binary
*.lsv binary
*.pak binary
*.gr2 binary
*.wem binary
*.bnk binary
*.usm binary
*.dds binary
*.png binary
*.jpg binary